@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
  background-color: #141210;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  background-color: transparent;
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}
